# =============== #
# Unity generated #
# =============== #
/Build/
/Temp/
Temp/
Library/
*_Data/
Build/
Builds/
Cobalt/Assets/UnityVS/**/*.dll*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
Cobalt/Cobalt-csharp.sln
*.user
*.unityproj
*.booproj
VSProject/Oxford/bin
VSProject/Build/*
VSProject/*.dll
VSProject/*.XML

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Thumbs.db.meta

# Compiling
Cobalt/Assets/Scripts/libs/Cobalt.XML*
*.mdb
*.mdb.meta
*.pdb
*.pdb.meta
mdb.meta
Build.zip
AndroidBuild/Cobalt.io.apk
.tags*
.vs/config/applicationhost.config
*config.json*
AssetBundles*
Assets/Scenes/StagingScene.unity
Assets/Scenes/StagingScene.unity.meta
